<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.rhydlewis.alfred.searchomnifocus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>461FFE94-0E33-42ED-8022-74FB582C3AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B5358DD-6001-425C-8C2C-0B5CD3B41ACD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D109C0DE-4460-44B6-B8BF-488C51BE8823</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB73AB05-13C5-4ECC-B7BE-EEBF0E5A834F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8E62EE2-D96A-4A26-8E39-EBBEFCE2DF97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rhyd Lewis</string>
	<key>description</key>
	<string>Search for OmniFocus tasks from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search OmniFocus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>so</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python search.py "{query}"</string>
				<key>subtext</key>
				<string>Search OmniFocus for "{query}"</string>
				<key>title</key>
				<string>Search OmniFocus</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8E62EE2-D96A-4A26-8E39-EBBEFCE2DF97</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>soi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python search.py -i "{query}"</string>
				<key>subtext</key>
				<string>Search OmniFocus Inbox for "{query}"</string>
				<key>title</key>
				<string>Search OmniFocus Inbox</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>461FFE94-0E33-42ED-8022-74FB582C3AA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>omnifocus:///task/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ofi</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python search.py -i</string>
				<key>subtext</key>
				<string>Show tasks in OmniFocus Inbox</string>
				<key>title</key>
				<string>Show tasks in OmniFocus Inbox</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B5358DD-6001-425C-8C2C-0B5CD3B41ACD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>soa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python search.py -a "{query}"</string>
				<key>subtext</key>
				<string>Search OmniFocus for "{query}"</string>
				<key>title</key>
				<string>Search OmniFocus for active tasks only</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB73AB05-13C5-4ECC-B7BE-EEBF0E5A834F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sop</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python search.py -t p "{query}"</string>
				<key>subtext</key>
				<string>Search OmniFocus Projects for "{query}"</string>
				<key>title</key>
				<string>Search OmniFocus for Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D109C0DE-4460-44B6-B8BF-488C51BE8823</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>461FFE94-0E33-42ED-8022-74FB582C3AA7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8B5358DD-6001-425C-8C2C-0B5CD3B41ACD</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D109C0DE-4460-44B6-B8BF-488C51BE8823</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D43529C9-5BC5-4DCA-A1F7-9EB2E48F2E68</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>DB73AB05-13C5-4ECC-B7BE-EEBF0E5A834F</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F8E62EE2-D96A-4A26-8E39-EBBEFCE2DF97</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>rhydlewis.net</string>
</dict>
</plist>
